@import "~antd/dist/antd.less";
@import "./default-overrides.less";
@import "./header.less";

body {
  min-height: 100%;
  background: @layout-body-background;
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}